body {
    background-image: url(../img/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Codystar', cursive;
    background-color: black;
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 45px;
    margin-left: 50px;
}

.walk-chillon, .walk-transparente, .stop-chillon, .stop-transparente{
    border-radius: 100px;
    padding: 15px;   
}

.walk-chillon{
    color: lime;
    border: lime solid 15px;
    background-color: black;
}
.stop-chillon {
    color: red;
    border: red solid 15px;
    background-color: black;
}
.walk-transparente {
    color: lime;
    opacity: 0.2;
    border: lime solid 15px;
}
.stop-transparente {
    color: red;
    opacity: 0.2;
    border: red solid 15px;
}

